.menu-wrapper {
  position: relative;
  max-width: 100vw;
  margin: auto;
  /* overflow-x: hidden; */
  overflow-y: hidden;
}
.menu {
  /* box-sizing: border-box; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 3rem;
  -webkit-overflow-scrolling: touch;
}
.menu .item {
  display: inline-block;
  padding: 1em;
  box-sizing: border-box;
}

.paddle {
  position: absolute;
  top: 40%;
  bottom: 0;
  width: 2.5em;
  height: 2.5em;
  border: none;
  /* background: #121825; */
  font-size: 1.5rem;
  font-weight: 600;
  /* background: rgba(19, 42, 63, 0.7); */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  border-radius: 2.3rem;
}
.left-paddle {
  left: 0;
}
.right-paddle {
  right: 0;
  top: 45%;
  /* -webkit-filter: invert(100%); */
  transform: rotate(180deg);
}
.hidden {
  display: none;
}
.print {
  margin: auto;
  max-width: 500px;
}
.print span {
  display: inline-block;
  width: 100px;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding: 0;
  color: #333;
}

.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}

.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-track {
  display: flex;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide .image:hover {
  transform: scale(1.5);
}
.slick-slide img {
  display: block;
  /* margin: auto; */
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}

.live-drop-container {
  max-width: 1450px;
  padding: 8rem 5.5rem 0 5rem;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }

  .live-drop-container {
    margin: 0;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
  /* color: black; */
}
.slick-arrow:hover {
  background-color: grey;
}
.slick-prev {
  z-index: 100;
  left: 0px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}


